*{
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}
.Wrapper{
  background: black;
  color: aliceblue;
  
}

.App-header{
  display: flex;
  
  justify-content: space-around;
  align-items: center;
}
.App-header .nav-bar{
  display: flex;
  
  gap: 20px;
}



